---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
home: true
splashscreen: true
eleventyNavigation:
  key: Home
  order: 1
---
{% if niepce.splash === 'true' %}
	{% set postslist = collections.featured %}
	<ul class="slideshow">
		{%- for post in postslist -%}
		{% if post.data.photo %}
			<li><img src="/{{ post.url }}/{{ post.data.photo }}" alt="{{ post.data.photo_alt }}" sizes="(min-width: 50em) 50vw, 100vw"></li>
		{% endif %}
		{%- endfor -%}
	</ul>
{% else %}
	{% set postslist = collections.posts %}
	{% include "postslist.njk" %}
{% endif %}
