---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
category: true
eleventyComputed:
  title: Tagged “{{ tag | capitalize }}”
permalink: /tags/{{ tag | slugify }}/
---
<h1 class="article-title">{{ tag | capitalize}}</h1>

<div class="article-content centered">
	{%- set desc = "./_includes/tags/" + tag | slugify + ".md" -%}
	{% if desc | fsExists %}
		{% renderFile desc %}
	{% endif %}
</div>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
