<ul class="categories">
  {% for category in collections.categorylist %}
  {% set postsCategory = posts | filterByCategory(category) %}
  {% set slug = "category_"+category | slugify %}
  {% set categoryCover = collections.all | findByFileSlug(slug) %}
  <li class="category">
    <a href="/category/{{ category | slugify }}/">
      {% if categoryCover.data.cover %}
        {% set coverPost = postsCategory | findByFileSlug(categoryCover.data.cover) %}
      {% else %}
        {% set coverPost = postsCategory.at(-1) %}
      {% endif %}
      <div class="category-cover">
        {% if coverPost.data.photo %}
        <img eleventy:ignore src="{{ coverPost | getPhotoInfos('url') }}" alt="">
        {% endif %}
      </div>
      <h2>{{ category }}</h2>
    </a>
  </li>
  {% endfor %}
</ul>
