<ul class="categories">
  {% asyncAll series in collections.serieslist %}
  {% set postsSeries = posts | filterBySeries(series) %}
  <li class="category">
    <a href="/series/{{ series | slugify }}/">
      {% if covers[series] %}
        {% set coverPost = postsSeries | findByFileSlug(covers[series])  %}
      {% else %}
        {% set coverPost = postsSeries.at(-1) %}
      {% endif %}
      <div class="category-cover">
        <img eleventy:ignore src="{{ coverPost | getPhotoInfos('url') }}" alt="">
      </div>
      <h2>{{ series }}</h2>
    </a>
  </li>
  {% endall %}
</ul>
