<ol reversed class="grid{% if category and niepce.grid_tags %} {{ niepce.grid_tags }}{% else %} {{ niepce.grid }}{% endif%}">
{% for post in postslist | reverse %}
	{% set loading = "eager" if loop.index < 20 else "lazy" %}
	<li class="post">
		<a href="{{ post.url }}">
			{% if post.data.photo %}
			<img eleventy:ignore src="{{ post | getPhotoURL }}" alt="{{ post.data.photo_alt }}" width="{{ post | getPhotoWidth }}" height="{{ post | getPhotoHeight }}">
			{% endif %}
			<h2 class="post-title">{{ post.data.title }}</h2>
		</a>
	</li>
{% endfor %}
</ol>
