---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - pages
    - post
    - featured
    - series
    - serieslist
  addAllPagesToCollections: true
eleventyExcludeFromCollections: true
layout: layouts/base.njk
category: true
eleventyComputed:
  title: Tagged “{{ tag | capitalize }}”
permalink: /category/{{ tag | slugify }}/
---
<h1 class="article-title">{{ tag | capitalize}}</h1>

<div class="article-content centered">
	{%- set description = "./content/pages/category_" + tag | slugify + ".md" -%}
	{% if description | fsExists %}
		{% renderFile description %}
	{% endif %}
</div>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
