---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
home: true
splashscreen: true
eleventyNavigation:
  key: Home
  order: 1
permalink: /
---
{% if niepce.splash === 'true' %}
	{% set featured = collections.featured %}
	<ul class="slideshow">
		{%- for post in featured -%}
		{% if post.data.photo %}
      <li><img eleventy:ignore src="{{ post | getPhotoInfos('url') }}" alt="{{ post.data.photo_alt }}" sizes="(min-width: 50em) 50vw, 100vw"></li>
		{% endif %}
		{%- endfor -%}
	</ul>
{% endif %}

  ## Last 5 posts
  {% set iteration = 5 %}
  {% set posts = collections.post %}
  {% include "get_posts.njk" %}

	## Categories
	{% include "get_categories.njk" %}

  ## Series
  {% set posts = collections.series %}
  {% include "get_series.njk" %}

