<!doctype html>
<html lang="{{ metadata.language }}" data-theme="{{ niepce.theme }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feeds/posts.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<meta name="generator" content="{{ eleventy.generator }}">
		{%- css %}{% include "public/css/styles.css" %}{% endcss %}
		<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		{% if niepce.grid === 'masonry' or niepce.grid_tags === 'masonry' %}
		<script src="/js/magic-grid.min.js" defer fetchpriority="high"></script>
		{% endif %}
		<script src="/js/script.js" defer fetchpriority="high"></script>

  	{# Opengraph #}
  	{% if home %}
  	<meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ metadata.title }}">
    <meta property="og:description" content="{{ metadata.description }}">
    <meta property="og:url" content="{{ metadata.url }}">
		{% if niepce.banner %}
    <meta property="og:image" content="{{ metadata.url }}{{ niepce.banner}}">
		{% endif %}
    <meta property="og:locale" content="{{ metadata.locale }}">
    <meta property="og:image:width" content="1000">
    <meta property="og:image:height" content="483">
  	{% endif %}
  	{% if photo %}
  	<meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url | htmlBaseUrl}}">
		{% ogPhoto "content/"+page.url+photo, metadata.url %}
    <meta property="og:locale" content="{{ metadata.locale }}">
    <meta property="article:published_time" content="{{ date | htmlDateString}}">
    {%- for tag in tags | filterTagList %}
		<meta property="article:tag" content="{{ tag }}">
		{% endfor %}
    <meta property="og:image:width" content="2000">
    <meta property="og:image:height" content="1333">
  	{% endif %}
	</head>
	<body>
		{% svgsprite %}
		<div class="skip">
			<a href="#skip">Skip to main content</a>
		</div>

		<div class="main">
			<header class="sidebar">
				<a href="/" class="logo">
					{% if niepce.logo %}
					{% if '-inline.svg' in niepce.logo %}
					{{ niepce.logo | svgContents | safe }}
					{% else %}
					<img src="{{ niepce.logo }}" alt="{{ metadata.title }}">
					{% endif %}
					{% else %}
					{{ metadata.title }}
					{% endif %}
				</a>
				<button class="menu" type="button">
					{% svg "burger" %}
				</button>
				<nav class="nav">
					<h2 class="visually-hidden">Menu de navigation</h2>
					<ul>
					{%- for entry in collections.pages | eleventyNavigation %}
						<li class="nav-item">
							<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
						</li>
					{%- endfor %}
						<li class="nav-item">
							Portfolio
							<ul class="tags-list">
							{% for tag in collections.posts | getAllTags | filterTagList %}
								{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
								<li><a href="{{ tagUrl }}"{% if tagUrl == page.url %} aria-current="page"{% endif %}>{{ tag }}</a></li>
							{% endfor %}
							</ul>
						</li>
						{% for item in niepce.links %}
						<li class="nav-item">
							<a href="{{ item.url }}">{{ item.label }}</a>
						</li>
						{% endfor %}
					</ul>
				</nav>
				<ul class="network">
					<li>
						<a class="icon-only" href="/feeds/posts.xml" title="RSS feed" aria-label="RSS feed">
							{% svg "rss", "network-icon" %}
						</a>
					</li>
					{% for social, url in niepce.socials %}
					{% if url %}
					<li>
						<a class="icon-only" href="{{ url }}" title="{{ social | capitalize }}" aria-label="{{ social | capitalize }}">
							{% svg social, "network-icon" %}
						</a>
					</li>
	      	{% endif %}
	      	{% endfor %}
	      </ul>
			</header>

			<main class="content" id="skip">
				{{ content | safe }}
			</main>
		</div>
	</body>
</html>
