---
layout: layouts/base.njk
---
<article class="article">
  <h1 class="article-title">{{ title }}</h1>

  <div class="article-content centered">
    {{ content | safe }}
  </div>

  {% set posts = collections.blogpost %}
  {% include "get_blogposts.njk" %}
</article>
